<mat-drawer-container class="example-container" autosize>
  <mat-drawer #enlaces class="example-sidenav" mode="over">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/books">Books</a></li>
    <li><a routerLink="/poemas">Poemas</a></li>
  </mat-drawer>
  <mat-toolbar color="white">  
    <button mat-icon-button color="accent" aria-label="menu" (click)="menu(enlaces)">  
    <mat-icon>menu</mat-icon>  
    </button> 
    <span>World of Books</span> 
  </mat-toolbar>
  <router-outlet></router-outlet>

</mat-drawer-container>
