<style>
  @import url('https://fonts.googleapis.com/css2?family=Charm&family=Qwigley&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
  
</style>
<body
class="p-5 text-center bg-image"
      style="
      background-color: rgba(0,0,0,0.8);
        background-image: url('https://i.pinimg.com/originals/4c/1a/94/4c1a945d21f20393bcac73f113943b77.jpg');
        background-size: 100vw 100vh;
 
      "
    >
    <div class="mask" style="background-color: rgba(84, 0, 0, 0.6); height: 60vh;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h2 class="texto">Bienvenido a:</h2>
          <h1>World of Books</h1>

          <h4 class="texto">Aquí encontrarás un mundo lleno de lectura y escritura, podrás visualizar libros asi como su información básica</h4>

        </div>
      </div>
    </div> 
<p class="frase">"Quien dice que leer es aburrido es porque no ha encontrado el libro indicado"</p>
</body>
