.mask{
    background-color:rgba(255, 255, 255, 0.6);
    height: 8vh;
    padding: 10px;

}
h1{
    font-family: 'Charm', cursive;
    font-size: 45px;
  }
p{
    font-family: 'Charm', cursive;
}
.btn{
    background-color: brown;
    font-family:'Courier New', Courier, monospace;

}
.card-title{
    color: rgb(114, 3, 3);
}