<div class="tm-row">
    <div class="tm-col-left text-center">            
        <ul class="tm-bg-controls-wrapper">
            <li class="tm-bg-control active" data-id="0"></li>
            <li class="tm-bg-control" data-id="1"></li>
            <li class="tm-bg-control" data-id="2"></li>
        </ul>            
    </div>        
    <div class="tm-col-right tm-col-footer">
        <footer class="tm-site-footer text-right">
            <p class="mb-0">Yanaleen Pluas Macias
            
            | Design: <a rel="nofollow" target="_parent" href="#" class="tm-text-link">Proyecto4</a></p>
        </footer>
    </div>  
</div>