<div class="tm-col-left">
  <div class="tm-site-header media">
      <i class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"></i>
      <div class="media-body">
          <h1 class="tm-sitename text-uppercase">REPORT WEB</h1>
          <p class="tm-slogon">new report app </p>
      </div>        
  </div>
</div>